*{
    background: linear-gradient(to right, #334d50,#cbcaa5);
    align-items: center;
}

h1{
    align-items: center;
    font-size: 26px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form{
    margin: 20px;
}

.form input,form label,form button{
    display: inline;
    margin-bottom: 15px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: brown;
    color: white;
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: gold;
  }
  